@font-face {
    font-family: "Barlow";
    src: local("BarlowRegular"), url("../fonts/Barlow-Regular.woff2") format("woff2");
    src: local("BarlowRegular"), url("../fonts/Barlow-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Barlow";
    src: local("BarlowMedium"), url("../fonts/Barlow-Medium.woff2") format("woff2");
    src: local("BarlowMedium"), url("../fonts/Barlow-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Barlow";
    src: local("BarlowBold"), url("../fonts/Barlow-Bold.woff2") format("woff2");
    src: local("BarlowBold"), url("../fonts/Barlow-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}