/* @import url("./fonts.css");
@import url("./variables.css");
@import url("./global.css");
@import url("./left-block.css");
@import url("./right-block.css");
@import url("./media.css"); */

@font-face {
    font-family: "Barlow";
    src: local("BarlowRegular"), url("../fonts/Barlow-Regular.woff2") format("woff2");
    src: local("BarlowRegular"), url("../fonts/Barlow-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Barlow";
    src: local("BarlowMedium"), url("../fonts/Barlow-Medium.woff2") format("woff2");
    src: local("BarlowMedium"), url("../fonts/Barlow-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Barlow";
    src: local("BarlowBold"), url("../fonts/Barlow-Bold.woff2") format("woff2");
    src: local("BarlowBold"), url("../fonts/Barlow-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --bold: 700;
    --medium: 500;
    --regular: 400;

    --background: #EFF6FF;
    --base-text: #2A4A5C;
    --fb-btn: #255A9B;
    --radio-hover: #6db6ff;
    --fb-btn-active: #1f497c;
    --fb-btn-hover: #2c6cb9;
    --in-btn: #0076B6;
    --in-btn-hover: #008bd6;
    --in-btn-active: #005e91;
    --account-btn: #3698FB;
    --account-btn-hover: #46a0fa;
    --account-btn-active: #1085fa;
    --dark-gray: #7B8A92;
    --gray: #96A5B1;
    --light-gray: #AFAFAF;
    --dark-white: #EEEEEE;
    --white: #FFFFFF;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

img,
svg {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    width: 100%;
}

a {
    cursor: pointer;
}

body {
    min-width: 320px;
    font-family: "Barlow";
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none;
    width: 0;
    height: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.container {
    min-height: 100vh;
    margin-right: auto;
    margin-left: auto;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
    background-color: var(--background);
    justify-content: center;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn {
    cursor: pointer;
}

.text {
    margin: 0;
}

.main-block {
    width: 995px;
    height: 690px;
    background-color: var(--white);
}

.main-image {
    position: relative;
    margin: 0;
    min-height: 100%;
    min-width: 53%;
}

.main-image__logo {
    position: absolute;
    top: 25px;
    left: 35px;
    display: inline-block;
    width: 100px;
    height: 25px;
}

.main-image__logo svg {
    height: 100%;
}

.main-image__img {
    width: 100%;
    height: 100%;
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
}

.right-block {
    flex-direction: column;
    padding: 76px 55px 76px 50px;
}

.right-block__title {
    margin-bottom: 11px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: var(--base-text);
}

.right-block__descr {
    margin-bottom: 37px;
    font-weight: 400;
    font-size: 13.4px;
    line-height: 20px;
    color: var(--base-text);
}

.btn {
    position: relative;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    width: 46%;
    color: var(--white);
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
}

.btn svg {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 13px;
    height: 13px;
}

.group-btn {
    margin-bottom: 30px;
    justify-content: space-between;
}

.group-btn__fb {
    text-decoration: none;
    background-color: var(--fb-btn);
    transition: background-color .2s ease-in-out;
}


.group-btn__in {
    text-decoration: none;
    background-color: var(--in-btn);
    transition: background-color .2s ease-in-out;
}

.group-btn__fb:hover {
    background-color: var(--fb-btn-hover);
}

.group-btn__in:hover {
    background-color: var(--in-btn-hover);
}

.group-btn__fb:focus-visible {
    outline: none;
    background-color: var(--fb-btn-hover);
}

.group-btn__in:focus-visible {
    outline: none;
    background-color: var(--in-btn-hover);
}

.group-btn__fb:active {
    background-color: var(--fb-btn-active);
}

.group-btn__in:active {
    background-color: var(--in-btn-active);
}

.or {
    position: relative;
    display: inline-block;
    margin: 0;
    margin-bottom: 28px;
    align-self: center;
    font-weight: 500;
    font-size: 9px;
    line-height: 20px;
    color: var(--base-text);
}

.or::before {
    content: "";
    display: block;
    position: absolute;
    top: 45%;
    right: 20px;
    height: 2px;
    width: 100px;
    background-color: var(--dark-white);
}

.or::after {
    content: "";
    display: block;
    position: absolute;
    top: 45%;
    left: 20px;
    height: 2px;
    width: 100px;
    background-color: var(--dark-white);
}

.registration-form {
    flex-direction: column;
    justify-content: space-between;
}

.registration-form__input-wrap {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 40px;
}

.registration-form__input {
    position: relative;
    width: 45%;
    height: 40px;
    padding: 10px;
    outline: none;
    border: 1px solid var(--dark-white);
    transition: border-left .2s ease-in-out;
}

.registration-form__input:hover {
    border-left: 2px solid var(--account-btn);
}

.registration-form__input:focus {
    border-left: 2px solid var(--account-btn);
}

.registration-form__input::placeholder {
    position: absolute;
    top: 5px;
    left: 10px;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
}

.investor-type__title {
    margin-bottom: 3px;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: var(--base-text);
}

.investor-type__descr {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    color: var(--base-text);
}

.investor-select {
    justify-content: space-between;
    margin-bottom: 60px;
}

.investor-select__radio-custom {
    user-select: none;
    cursor: pointer;
}

.investor-select__input {
    appearance: none;
}

.investor-select__text {
    position: relative;
    padding-left: 20px;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: var(--base-text);
}

.investor-select__text::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 15px;
    height: 15px;
    border: 1px solid var(--dark-gray);
    border-radius: 100px;
    transform: translateY(-50%);
    transition: border 0.2s ease-in-out;
}

.investor-select__radio-custom:hover .investor-select__text::before {
    border: 1px solid var(--radio-hover);
}

.investor-select__input:checked+.investor-select__text::before {
    border: 3px solid var(--account-btn);
}

.registration-form__license {
    display: flex;
    user-select: none;
    cursor: pointer;
}

.registration-form__checkbox {
    margin-right: 5px;
}

.license-text--mobile {
    display: none;
}

.registration-form__license {
    margin-bottom: 50px;
}

.license-text {
    font-weight: 400;
    font-size: 10.5px;
    line-height: 20px;
    color: var(--gray);
    padding-bottom: -5px;
}

.registration-form__btn {
    padding: 10px 0;
    width: 50%;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: var(--white);
    border: none;
    border-radius: 5px;
    background-color: var(--account-btn);
    transition: background-color .2s ease-in-out;
}

.registration-form__btn:hover {
    background-color: var(--account-btn-hover);
}

.registration-form__btn:focus-visible {
    background-color: var(--account-btn-hover);
}

.registration-form__btn:active {
    background-color: var(--account-btn-active);
}

@media (max-width: 1200px) {
    .license-text {
        font-size: 0.9vw;
    }
}

@media (max-width: 1024px) {
    .right-block__descr {
        margin-bottom: 20px;
    }

    .group-btn {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .or {
        margin-bottom: 20px;
    }

    .btn {
        width: 100%;
    }

    .btn:not(:last-child) {
        margin-bottom: 10px;
    }

    .registration-form__input-wrap {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .registration-form__input {
        width: 100%;
    }

    .registration-form__input:not(:last-child) {
        margin-bottom: 15px;
    }

    .investor-type__descr {
        margin-bottom: 20px;
    }

    .investor-select {
        margin-bottom: 30px;
    }
}

@media (max-width: 934px) {
    .main-block {
        width: 100%;
        height: auto;
    }
    
    .right-block__descr {
        font-size: 1.3vw;
    }

    .registration-form__input:not(:last-child) {
        margin-bottom: 10px;
    }

    .investor-type__descr {
        margin-bottom: 15px;
    }

    .investor-select {
        margin-bottom: 20px;
    }

    .investor-select {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .investor-select__radio-custom {
        display: inline-block;
        min-width: 50%;
    }

    .license-text {
        display: none;
    }

    .license-text--mobile {
        display: inline-block;
        font-size: 1.3vw;
    }
}

@media (max-width: 768px) {
    .main-block {
        flex-direction: column;
    }

    .main-image {
        position: relative;
        margin: 0;
        min-height: unset;
        min-width: unset;
        width: 100%;
        height: 60px;
    }

    .main-image__logo {
        position: absolute;
        display: inline-block;
        top: 50%;
        left: 35px;
        width: 100px;
        height: 25px;
        transform: translateY(-50%);
    }

    .main-image__img {
        background-position: top center;
        background-size: auto;
    }

    .right-block {
        padding: 40px 35px;
    }

    .right-block__descr {
        font-size: 11px;
    }

    .investor-select__radio-custom {
        min-width: unset;
    }

    .registration-form__license {
        margin-bottom: 20px;
    }

    .license-text {
        font-size: 10.5px;
    }
}

@media (max-width: 610px) {
    .right-block {
        padding: 40px 35px;
    }
}

@media (max-width: 420px) {
    .container {
        padding: 50px 25px;
    }

    .main-image__logo {
        left: 15px;
        width: 70px;
        height: 20px;
    }

    .right-block {
        padding: 25px 15px;
    }

    .right-block__title {
        margin-bottom: 8px;
    }

    .right-block__descr {
        margin-bottom: 10px;
        font-size: 10px;
    }

    .group-btn {
        margin-bottom: 10px;
    }

    .or {
        margin-bottom: 10px;
    }

    .registration-form__input-wrap {
        margin-bottom: 10px;
    }

    .investor-type__descr {
        margin-bottom: 10px;
    }

    .investor-select {
        margin-bottom: 10px;
    }

    .investor-select__radio-custom {
        min-width: 50%;
    }
    
    .investor-select__text {
        font-size: 13px;
    }

}