:root {
  --bold: 700;
  --medium: 500;
  --regular: 400;

  --background: #EFF6FF;
  --base-text: #2A4A5C;
  --fb-btn: #255A9B;
  --radio-hover: #6db6ff;
  --fb-btn-active: #1f497c;
  --fb-btn-hover: #2c6cb9;
  --in-btn: #0076B6;
  --in-btn-hover: #008bd6;
  --in-btn-active: #005e91;
  --account-btn: #3698FB;
  --account-btn-hover: #46a0fa;
  --account-btn-active: #1085fa;
  --dark-gray: #7B8A92;
  --gray: #96A5B1;
  --light-gray: #AFAFAF;
  --dark-white: #EEEEEE;
  --white: #FFFFFF;
}